<% include header.ejs %>

<div class="container">
    <div class="row">
        <a href="/your-name-diary/editDiary/<%= content.id %>" class="btn btn-primary btn-xs">编辑</a>
        <a id="deleteDiary" diaryid="<%= content.id %>" class="btn btn-default btn-xs">删除</a>
        <a href="/your-name-diary/diary/" class="btn btn-default btn-xs">返回Diary列表</a>
        <a href="/your-name-diary/" class="btn btn-default btn-xs">Home</a>
        <diary>
            <div class="diary-inner">
                <p class="diary-title">Title: <%= content.title %> </p>
                <p class="diary-content">Content: <%= content.content %> </p>
                <p>Latest Update: <%= content.updated_at %> </p>
                <p>Location: <%= content.location %> </p>
                <img src="<%= content.photo %> ">
            </div>
        </diary>
    </div>
</div>

<% include footer.ejs %>