<% include header.ejs %>

<div class="container">

    <div class="jumbotron diary-list">
        <h1 class="text-center"><%= title %></h1>
        <a href="/your-name-diary/"><p class="text-center">Home</p></a>
    </div>

    <div class="row">
        <% for(var i=0; i<content.length ; i++) { %>
            <div class="col-md-6 col-sm-6 col-xs-12 momentist-postJS">
                <diary>
                    <div class="diary-inner" style="background-image: url(<%= content[i].photo %>)">
                        <a class="diary-title" href='/your-name-diary/diary/<%= content[i].id %>'>
                            <%= content[i].title %>
                        </a>
                        <p>ID: <%= content[i].id %> </p>
                        <p class="diary-content">Content: <%= content[i].content %> </p>
                    </div>
                </diary>
            </div>
        <% } %>
    </div>
</div>

<% include footer.ejs %>